@use "../../assets/styles/mixin" as mixin;

.first_part {
  margin: 0;
  padding: 0;
}

.intro {
  padding: 40px;
  justify-content: space-between;
  max-height: 500px;
  margin-top: 60px;
  @include mixin.lg-lt {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    max-height: none;
    margin-top: 30px;
  }
}

.text_left {
  width: 50%;
  //   margin-left: 40px;
  @include mixin.lg-lt {
    width: 70%;
    margin-left: 0;
  }
  @include mixin.sm {
    width: 100%;
  }
}

.text_bloc {
  //   width: 80%;
  height: 100%;
}

.start {
  margin: 0;
}

h1 {
  font-size: 46px;
  @include mixin.sm {
    width: 90%;
  }
}

p {
  font-size: 20px;
}

span {
  color: #cd3a84;
}

.gif {
  width: 45%;
  @include mixin.lg-lt {
    width: 70%;
  }
  @include mixin.sm {
    width: 100%;
  }
}

hr {
  border: none;
  border-top: 2px solid #000;
  height: 5px;
  width: 95%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.videos {
  margin-bottom: 400px; // c'est en attendant d'avoir de quoi mettre ici
}

h2 {
  font-size: 36px;
}
